In [5]:
import pandas as pd

In [20]:
import numpy as np

In [12]:
a = pd.Series([1,2,4,"ok",7,8])
a

0     1
1     2
2     4
3    ok
4     7
5     8
dtype: object

In [27]:
dates = pd.date_range('20190101',periods=6)

In [28]:
dates

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [29]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [30]:
df

                   A         B         C         D
2019-01-01  0.650878  0.545431 -1.904860  0.908142
2019-01-02  0.074010 -1.031614  0.472656 -0.015237
2019-01-03  0.018836  1.607355  1.435321  0.855981
2019-01-04 -0.575503 -0.725717 -2.041759  0.840564
2019-01-05  0.499518  0.761695  0.020706 -1.761843
2019-01-06 -0.186170  0.431097 -0.390780 -0.039283

In [34]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),                     
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

In [35]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [36]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [37]:
df.head()

                   A         B         C         D
2019-01-01  0.650878  0.545431 -1.904860  0.908142
2019-01-02  0.074010 -1.031614  0.472656 -0.015237
2019-01-03  0.018836  1.607355  1.435321  0.855981
2019-01-04 -0.575503 -0.725717 -2.041759  0.840564
2019-01-05  0.499518  0.761695  0.020706 -1.761843

In [38]:
df.tail()

                   A         B         C         D
2019-01-02  0.074010 -1.031614  0.472656 -0.015237
2019-01-03  0.018836  1.607355  1.435321  0.855981
2019-01-04 -0.575503 -0.725717 -2.041759  0.840564
2019-01-05  0.499518  0.761695  0.020706 -1.761843
2019-01-06 -0.186170  0.431097 -0.390780 -0.039283

In [39]:
df.index

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [41]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [45]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.080262  0.264708 -0.401453  0.131387
std    0.448599  0.981589  1.361394  1.026281
min   -0.575503 -1.031614 -2.041759 -1.761843
25%   -0.134918 -0.436513 -1.526340 -0.033271
50%    0.046423  0.488264 -0.185037  0.412663
75%    0.393141  0.707629  0.359669  0.852126
max    0.650878  1.607355  1.435321  0.908142

In [46]:
df.T

   2019-01-01  2019-01-02  2019-01-03  2019-01-04  2019-01-05  2019-01-06
A    0.650878    0.074010    0.018836   -0.575503    0.499518   -0.186170
B    0.545431   -1.031614    1.607355   -0.725717    0.761695    0.431097
C   -1.904860    0.472656    1.435321   -2.041759    0.020706   -0.390780
D    0.908142   -0.015237    0.855981    0.840564   -1.761843   -0.039283

In [48]:
df['A']

2019-01-01    0.650878
2019-01-02    0.074010
2019-01-03    0.018836
2019-01-04   -0.575503
2019-01-05    0.499518
2019-01-06   -0.186170
Freq: D, Name: A, dtype: float64

In [49]:
df[0:3]

                   A         B         C         D
2019-01-01  0.650878  0.545431 -1.904860  0.908142
2019-01-02  0.074010 -1.031614  0.472656 -0.015237
2019-01-03  0.018836  1.607355  1.435321  0.855981

In [51]:
df['20190102':'20190104']

                   A         B         C         D
2019-01-02  0.074010 -1.031614  0.472656 -0.015237
2019-01-03  0.018836  1.607355  1.435321  0.855981
2019-01-04 -0.575503 -0.725717 -2.041759  0.840564

In [52]:
df.mean()

A    0.080262
B    0.264708
C   -0.401453
D    0.131387
dtype: float64

In [59]:
df.to_csv('foo.csv')

In [58]:
pd.read_csv('foo.csv')

   Unnamed: 0         A         B         C         D
0  2019-01-01  0.650878  0.545431 -1.904860  0.908142
1  2019-01-02  0.074010 -1.031614  0.472656 -0.015237
2  2019-01-03  0.018836  1.607355  1.435321  0.855981
3  2019-01-04 -0.575503 -0.725717 -2.041759  0.840564
4  2019-01-05  0.499518  0.761695  0.020706 -1.761843
5  2019-01-06 -0.186170  0.431097 -0.390780 -0.039283