In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [60]:
df = pd.read_csv('US-GDP.csv')

In [ ]:
dates = pd.date_range('2013',periods=6)

In [ ]:
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6, 3), index=dates, columns=list('ABC'))

In [ ]:
df.head()

In [ ]:
df[0:5]

In [61]:
df = pd.read_csv('US-unemployment.csv')

In [63]:
df[df['percent1']>'3.50%']

     Month percent1 percent2 data issued
1   201911    3.60%    3.50%   2019/12/6
3   201909    3.70%    3.50%   2019/10/4
4   201908    3.70%    3.70%    2019/9/6
5   201907    3.70%    3.70%    2019/8/2
6   201906    3.60%    3.70%    2019/7/5
7   201905    3.60%    3.60%    2019/6/7
8   201904    3.80%    3.60%    2019/5/3
9   201903    3.80%    3.80%    2019/4/5
10  201902    4.00%    3.80%    2019/3/8

In [ ]:
dates = pd.date_range('20190701',periods=6)

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [ ]:
df.head()

In [ ]:
df[0:5]